{% extends 'template.html' %}

{% block head %}
<title>Hotel Reservationstool</title>
{% endblock %}

{% block body %}
<h1>Bitte füllen Sie das folgende Formular aus, um ein Hotelzimmer zu reservieren.</h1>
<form method="POST">
    <label for="nachname">Nachname</label>
    <input type="text" name="nachname" id="nachname">
    <label for="vorname">Vorname</label>
    <input type="text" name="vorname" id="vorname"> <br>
    <label for="anzahl_nächte">Anzahl Nächte</label>
    <input type="text" name="anzahl_nächte" id="anzahl_nächte"> <br>
    <label for="anzahl_personen">Anzahl Personen</label>
    <input type="text" name="anzahl_personen" id="anzahl_personen"> <br>
    <label for="strasse">Strasse</label>
    <input type="text" name="strasse" id="strasse">
    <label for="hausnummer">Hausnummer</label>
    <input type="text" name="hausnummer" id="hausnummer"> <br>
    <label for="plz">Postleitzahl</label>
    <input type="text" name="plz" id="plz">
    <label for="ort">Ort</label>
    <input type="text" name="ort" id="ort"> <br>
    <label for="land">Land</label>
    <input type="text" name="land" id="land"> <br>
    <label for="email">Email-Adresse</label>
    <input type="text" name="email" id="email"> <br>
    <button type="submit">Absenden</button>
</form>
{% endblock %}